body {
  display: block;
  background-color: #232931;
  color: #ffffff;
  font-family: calibri;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.final-hit-chance {
  text-align: center;
  border: 1px solid #000000;
  background-color: #47705b;
}
.main-grid {
  display: grid;
  grid-template-areas: "buffs target";
  grid-template-columns: fit-content;
  grid-template-rows: fit-content;
  grid-gap: 8px;
}

.target-grid {
  display: flex;
  flex-direction: column;
  grid-template-columns: fit-content(100%);
  grid-gap: 8px;
}

table {
  border-collapse: collapse;
  max-height: 100%;
}

tr {
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #2a3038;
}

.icon-col {
  width: 20px;
  padding: 2px;

}
.icon-col > img {
  width: 100%;
  height: 100%;
  display: block;
}

.input-col {
  //width: 190px;
}
.input-col > input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.input-col > select {
  width: 100%;
}
