body {
  background-color: #232931;
  color: #ffffff;
  font-family: calibri, sans-serif;
  font-size: small;
}

.final-hit-chance {
  display: block;
  text-align: center;
  border: 1px solid #000000;
  background-color: #47705b;
}

.final-hit-chance > h3 {
  margin: 10px;
  font-size: medium;
}

.final-hit-chance > h2 {
  margin: 10px;
  font-size: xx-large;
}

.grid-wrapper {
  justify-content: center;
  display: flex;
}

.main-grid {
  display: inline-grid;
  grid-template-areas: "buffs target info";
  grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
  grid-gap: 8px;
}

.buff-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  max-width: 500px;
  grid-area: buffs;

}

.target-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  /*max-width: 500px;*/
  grid-area: target;
}

.info-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  grid-area: info;
  max-width: 320px;
}

.info-box {
  border: 1px solid #000000;
  padding: 4px;
}

a:link, a:visited {
  color: white;
}

table {
  border-collapse: collapse;
  max-height: 100%;
}

tr {
  width: 100%;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #2a3038;
}

button {
  /* background-color: #47705b; /* Green */
  background-color: #6c4b58; /* Red */
  border: none;
  color: white;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.icon-col {
  text-align: -webkit-center;
  width: 20px;
  padding: 2px;
}

.icon-col > img {
  height: 100%;
  max-height: 32px;
  display: block;
}

.input-col > input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.input-col > select {
  box-sizing: border-box;
  width: 100%;
}
