body {
  background-color: #232931;
  color: #ffffff;
  font-family: calibri;
  //font-size: .675em;
}
.main-grid {
  display: grid;
  //width: 50%;
  grid-template-areas: "buffs target";
  grid-template-columns: fit-content(60%) fit-content(60%);
  grid-gap: 8px;
}

.target-grid {
  display: grid;
  grid-template-rows: fit-content(50%);
  grid-gap: 8px;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
}

tr {
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #2a3038;
}

.icon-col {
  width: 20px;
  padding: 2px;

}
.icon-col > img {
  width: 100%;
  height: 100%;
  display: block;
}

.input-col {
  //width: 190px;
}
.input-col > input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.input-col > select {
  width: 100%;
}
